.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 6px;
}

.btnAdd{
    border: none; 
    background-color: burlywood;;
    border-radius: 999px;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.btnAdd:hover{
    background-color: #da861a;
    color: white;
}