.prueba{
    width: 20vw;
    height: 30vh;
    background-color: brown;
}



.container{
    position: relative;
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    width: 50vw;
    height: 80vh;
    background-color: #8aae43;
    opacity: 0.8;
}

.children{
    display: flex;
    flex-direction: row;
    height: 5.5%;
    margin-top: 5px;
    width: 100vw;
    justify-content: space-evenly;
}

#nameNote{
    background: none;
    outline: none;
    border: none;
    color: black;
    min-width: 6rem;
    width: 40%;
}

#nameNote::placeholder { 
    color: #000000;
    opacity: 0.8; 
}

.btn_DELETE{
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

#inpNote{
    background: none;
    resize: none;
    height: 90%;
    outline: none;
    border: none;
    color: black;
    margin-top: 0.5rem;
}

#inpNote::placeholder { 
    color: #000000;
    opacity: 0.7; 
}

#btn{
    color: black;
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 25px;
}
#btn:hover{
    background-color: rgb(143, 140, 140);
    color: white;
}

#btnClose{
    cursor: pointer;
    border-radius: 8px;
    height: 1.5rem;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}
#btnClose:hover{
    background-color: #3e3f3d;
    color: white;
}

.lineText{
    display: flex;
    position: absolute;
    height: 88%;
    width: 90%;
    left: 4%;
    bottom: 4%;
    flex-direction: column;
}
#line{
    width: 80%;
    border: 1px solid #a19e9e;
    margin-top: 0;
}


.btnLapiz{
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background: none;
    border: none;
    align-items: center;
    cursor: pointer;
}
.btnLapiz:hover{
    background-color: rgb(143, 140, 140);
    
}

.imgLapiz{
    width: 1.2rem;
    height: 1.2rem;
}
/* .imgLapiz:hover{
    background-color: rgb(110, 95, 95);
}
 */