.container{
    position: relative;
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    width: 50vw;
    height: 60vh;
    background-color: #65685f;
    opacity: 0.8;
}

.children{
    display: flex;
    flex-direction: row;
    height: 5.5%;
    margin-top: 5px;
    width: 100vw;
    justify-content: space-evenly;
}

#nameNote{
    background: none;
    outline: none;
    border: none;
    color: black;
    min-width: 6rem;
    width: 40%;
}

#nameNote::placeholder { 
    color: #000000;
    opacity: 0.8; 
}

#inpNote{
    background: none;
    resize: none;
    height: 95%;
    outline: none;
    border: none;
    color: black;
}

#inpNote::placeholder { 
    color: #000000;
    opacity: 0.7; 
}

#btn{
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#btnClose{
    cursor: pointer;
    border-radius: 8px;
    height: 1.5rem;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}
#btnClose:hover{
    background-color: #3e3f3d;
    color: white;
}

.lineText{
    display: flex;
    position: absolute;
    height: 88%;
    width: 90%;
    left: 4%;
    bottom: 4%;
    flex-direction: column;
}
#line{
    width: 80%;
    border: 1px solid #a19e9e;
    margin-top: 0;
}