.container{
    position: absolute;
    right: 0.5rem;
    top: 4rem;
}

.padher{
    width: 40vw;
    height: 70vh;
    background-color: #7d541d;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: -1px 1px 10px 4px black;
    opacity: 0.8;
}

    
.padher::-webkit-scrollbar{
    width: 0.67rem;     /* Tamaño del scroll en vertical */
    height: 1rem;    /* Tamaño del scroll en horizontal */
}
.padher::-webkit-scrollbar-thumb {
    background: rgb(20, 20, 20);
    border-radius: 25px;
    width: 0.4rem;
}
.padher::-webkit-scrollbar-track {
    background: #d9ac71;
    border-radius: 4px;
    height: 0.5rem;
  
}

.dl{
    border: 2px solid black;
    height: 4rem;
    width: 90%;
    border-radius: 25px;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    overflow-x: hidden;
    overflow-y: hidden;
}